@import 'header';
@import '_classes';


.header-content{
  position: relative;
  @include centralizar;
  padding-bottom: 60px;
  margin-bottom: 100px;
.header-content-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .header-content-text {
    @include titulos;
    font-weight: normal;
    max-width: 700px;

    .header-content-text-plans {
      display: flex;
      margin-top: 50px;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
  

      .header-plan1 {
        display: flex;

        h1 {
          @include big_prices();
        }

        p {
          @include plans-info-header-home();
        }
      }

      .header-plan2 {
        position: relative;
        margin-left: 30px;

        p:first-child {
          font-weight: 300;
          font-size: 20px;
          text-align: left;
          position: inherit;
          padding-bottom: 10px;
        }

        .fine {
          font-weight: 300;
          font-size: 20px;
          text-align: end;
          padding-right: 80px;
          position: absolute;
          bottom: 70px;
          right: -95px;
        }

        h1 {
          @include big_prices;
          display: flex;

          span {
            font-weight: 300;
            font-size: 50px;
          }

        }
      }
    }

    .header-plan-more {
      margin-bottom: 40px;

      h1 {
        @include big_prices();
        font-size: 40px;
        font-weight: 600;
        display: flex;
        align-items: flex-end;
        position: relative;
        max-width: 340px;

        img {
          position: absolute;
          right: 0;
          top: -15px;
        }
      }

      p {
        @include plans-info-header-home();
        font-size: 20px;

        span {
          font-size: 16px;
        }
      }
    }

    .button-orange {
      width: 340px;
      @include button-orange;

      b {
        padding: 0 3px;
      }
    }
  }

  .header-content-img {
    position: relative;
max-width: 50%;
    img {
      position: relative;
left: 8%;
top: 8%;
max-width: 900px;
width: 100%;
    }
  }
}

}