header {
  background: linear-gradient(85.03deg, #183fa3 -4.4%, #60d4ff 100%); }
  header .menu-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px; }
    header .menu-container .menu-infos-top {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      padding: 20px 0 10px 0; }
      header .menu-container .menu-infos-top .tel-container {
        font-size: 0.875rem;
        color: white;
        font-weight: 500;
        padding-right: 100px; }
        header .menu-container .menu-infos-top .tel-container p {
          display: flex;
          align-items: center; }
          header .menu-container .menu-infos-top .tel-container p img {
            padding: 0 5px; }
      header .menu-container .menu-infos-top .redes-sociais-container {
        display: flex;
        justify-content: space-between;
        width: 100px; }
    header .menu-container .menu-principal-container {
      display: flex;
      justify-content: center; }
      header .menu-container .menu-principal-container .menu-principal {
        display: flex;
        justify-content: space-between;
        width: 1440px; }
        header .menu-container .menu-principal-container .menu-principal .menu {
          display: flex;
          align-items: center; }
          header .menu-container .menu-principal-container .menu-principal .menu ul {
            display: flex;
            align-items: center; }
            header .menu-container .menu-principal-container .menu-principal .menu ul li a {
              font-size: 0.875rem;
              color: white;
              font-weight: 500;
              padding: 0 20px;
              text-align: center; }
            header .menu-container .menu-principal-container .menu-principal .menu ul .button-off {
              border: 1px solid white;
              text-align: center;
              background: none;
              border-radius: 5px;
              color: white;
              cursor: pointer;
              padding: 7px 25px;
              margin: 0 20px; }
            header .menu-container .menu-principal-container .menu-principal .menu ul .button-orange {
              color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              border: none;
              border-radius: 5px;
              background-color: #e88100;
              padding: 10px 40px;
              max-width: 216px;
              cursor: pointer;
              padding: 7px 35px;
              margin-left: 10px; }
              header .menu-container .menu-principal-container .menu-principal .menu ul .button-orange img {
                padding: 0 7px; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  background: linear-gradient(85.03deg, #183fa3 -4.4%, #60d4ff 100%); }
  header .menu-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px; }
    header .menu-container .menu-infos-top {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      padding: 20px 0 10px 0; }
      header .menu-container .menu-infos-top .tel-container {
        font-size: 0.875rem;
        color: white;
        font-weight: 500;
        padding-right: 100px; }
        header .menu-container .menu-infos-top .tel-container p {
          display: flex;
          align-items: center; }
          header .menu-container .menu-infos-top .tel-container p img {
            padding: 0 5px; }
      header .menu-container .menu-infos-top .redes-sociais-container {
        display: flex;
        justify-content: space-between;
        width: 100px; }
    header .menu-container .menu-principal-container {
      display: flex;
      justify-content: center; }
      header .menu-container .menu-principal-container .menu-principal {
        display: flex;
        justify-content: space-between;
        width: 1440px; }
        header .menu-container .menu-principal-container .menu-principal .menu {
          display: flex;
          align-items: center; }
          header .menu-container .menu-principal-container .menu-principal .menu ul {
            display: flex;
            align-items: center; }
            header .menu-container .menu-principal-container .menu-principal .menu ul li a {
              font-size: 0.875rem;
              color: white;
              font-weight: 500;
              padding: 0 20px;
              text-align: center; }
            header .menu-container .menu-principal-container .menu-principal .menu ul .button-off {
              border: 1px solid white;
              text-align: center;
              background: none;
              border-radius: 5px;
              color: white;
              cursor: pointer;
              padding: 7px 25px;
              margin: 0 20px; }
            header .menu-container .menu-principal-container .menu-principal .menu ul .button-orange {
              color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              border: none;
              border-radius: 5px;
              background-color: #e88100;
              padding: 10px 40px;
              max-width: 216px;
              cursor: pointer;
              padding: 7px 35px;
              margin-left: 10px; }
              header .menu-container .menu-principal-container .menu-principal .menu ul .button-orange img {
                padding: 0 7px; }

.form-ligacao {
  background: #FDFDFD;
  width: 900px;
  margin: 0 auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px; }
  .form-ligacao h3 {
    font-weight: bold;
    font-size: 20px;
    color: #0099DC;
    display: flex; }
    .form-ligacao h3 svg {
      padding-right: 10px; }
  .form-ligacao form .input-form-ligacao {
    background: #F0F0F0;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 12px;
    color: #C4C3C3;
    margin: 0 5px; }
  .form-ligacao form button {
    background: #0099DC;
    border-radius: 7px;
    color: white;
    padding: 10px 80px;
    border: none;
    font-weight: 600;
    cursor: pointer; }

.beneficios-text {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 40px;
  padding: 0 10px; }
  .beneficios-text .beneficios-text-itens {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; }
    .beneficios-text .beneficios-text-itens .beneficios-item {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 380px;
      padding: 15px 0; }
      .beneficios-text .beneficios-text-itens .beneficios-item p {
        font-weight: 500;
        font-size: 20px;
        line-height: 112%;
        color: #939191; }
      .beneficios-text .beneficios-text-itens .beneficios-item svg {
        width: 90px; }

.button-orange {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-color: #e88100;
  padding: 10px 40px;
  max-width: 216px;
  cursor: pointer; }

.button-blue {
  background: #0099DC;
  border-radius: 7px;
  color: white;
  padding: 10px 80px;
  border: none;
  font-weight: 600;
  cursor: pointer; }

.button-off {
  border: 1px solid white;
  text-align: center;
  background: none;
  border-radius: 5px;
  color: white;
  cursor: pointer; }

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
  position: relative; }
  .header-content .header-content-text {
    font-size: 40px;
    color: white;
    font-weight: 500;
    max-width: 700px; }
    .header-content .header-content-text .header-content-text-plans {
      display: flex;
      margin-top: 50px;
      flex-wrap: wrap; }
      .header-content .header-content-text .header-content-text-plans .header-plan1 {
        display: flex; }
        .header-content .header-content-text .header-content-text-plans .header-plan1 h1 {
          font-size: 100px;
          font-weight: 900;
          color: #f5e433; }
        .header-content .header-content-text .header-content-text-plans .header-plan1 p {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 30px;
          line-height: 1.2;
          padding: 0 10px;
          color: white; }
          .header-content .header-content-text .header-content-text-plans .header-plan1 p span {
            font-weight: normal;
            font-size: 22px; }
      .header-content .header-content-text .header-content-text-plans .header-plan2 {
        position: relative;
        margin-left: 30px; }
        .header-content .header-content-text .header-content-text-plans .header-plan2 p:first-child {
          font-weight: 300;
          font-size: 20px;
          text-align: left;
          position: inherit;
          padding-bottom: 10px; }
        .header-content .header-content-text .header-content-text-plans .header-plan2 .fine {
          font-weight: 300;
          font-size: 20px;
          text-align: end;
          padding-right: 80px;
          position: absolute;
          bottom: 70px;
          right: -95px; }
        .header-content .header-content-text .header-content-text-plans .header-plan2 h1 {
          font-size: 100px;
          font-weight: 900;
          color: #f5e433;
          display: flex; }
          .header-content .header-content-text .header-content-text-plans .header-plan2 h1 span {
            font-weight: 300;
            font-size: 50px; }
    .header-content .header-content-text .header-plan-more {
      margin-bottom: 40px; }
      .header-content .header-content-text .header-plan-more h1 {
        font-size: 100px;
        font-weight: 900;
        color: #f5e433;
        font-size: 40px;
        font-weight: 600;
        display: flex;
        align-items: flex-end;
        position: relative;
        max-width: 340px; }
        .header-content .header-content-text .header-plan-more h1 img {
          position: absolute;
          right: 0;
          top: -15px; }
      .header-content .header-content-text .header-plan-more p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 30px;
        line-height: 1.2;
        padding: 0 10px;
        color: white;
        font-size: 20px; }
        .header-content .header-content-text .header-plan-more p span {
          font-weight: normal;
          font-size: 22px; }
        .header-content .header-content-text .header-plan-more p span {
          font-size: 16px; }
    .header-content .header-content-text .button-orange {
      width: 100%;
      max-width: 340px;
      justify-content: center;
      font-size: 14px;
      padding: 15px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 5px;
      background-color: #e88100;
      padding: 10px 40px;
      max-width: 216px;
      cursor: pointer; }
      .header-content .header-content-text .button-orange b {
        padding: 0 3px; }
  .header-content .header-content-img img {
    width: 100%;
    max-width: 100%; }

.form-ligacao {
  background: #FDFDFD;
  width: 900px;
  margin: 0 auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px; }
  .form-ligacao h3 {
    font-weight: bold;
    font-size: 20px;
    color: #0099DC;
    display: flex; }
    .form-ligacao h3 svg {
      padding-right: 10px; }
  .form-ligacao form .input-form-ligacao {
    background: #F0F0F0;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 12px;
    color: #C4C3C3;
    margin: 0 5px; }
  .form-ligacao form button {
    background: #0099DC;
    border-radius: 7px;
    color: white;
    padding: 10px 80px;
    border: none;
    font-weight: 600;
    cursor: pointer; }

.beneficios-text {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 40px;
  padding: 0 10px; }
  .beneficios-text .beneficios-text-itens {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; }
    .beneficios-text .beneficios-text-itens .beneficios-item {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 380px;
      padding: 15px 0; }
      .beneficios-text .beneficios-text-itens .beneficios-item p {
        font-weight: 500;
        font-size: 20px;
        line-height: 112%;
        color: #939191; }
      .beneficios-text .beneficios-text-itens .beneficios-item svg {
        width: 90px; }

.button-orange {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-color: #e88100;
  padding: 10px 40px;
  max-width: 216px;
  cursor: pointer; }

.button-blue {
  background: #0099DC;
  border-radius: 7px;
  color: white;
  padding: 10px 80px;
  border: none;
  font-weight: 600;
  cursor: pointer; }

.button-off {
  border: 1px solid white;
  text-align: center;
  background: none;
  border-radius: 5px;
  color: white;
  cursor: pointer; }

.beneficios {
  padding: 30px 0;
  margin-bottom: 120px; }
  .beneficios .beneficios-content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px;
    position: relative; }
    .beneficios .beneficios-content h2 {
      font-size: 40px;
      color: white;
      font-weight: 500;
      color: #0099DC;
      padding-bottom: 40px; }
    .beneficios .beneficios-content .beneficios-blocos {
      display: flex; }
      .beneficios .beneficios-content .beneficios-blocos img {
        max-width: 100%;
        max-height: 410px;
        height: 100%; }
    .beneficios .beneficios-content .cards-beneficios {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      right: 0; }
      .beneficios .beneficios-content .cards-beneficios .card-beneficio {
        background: white;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
        border-radius: 16px;
        text-align: center;
        max-width: 346px;
        box-sizing: border-box;
        padding: 40px;
        margin-left: 150px; }
        .beneficios .beneficios-content .cards-beneficios .card-beneficio svg {
          margin-bottom: 15px; }
        .beneficios .beneficios-content .cards-beneficios .card-beneficio h5 {
          font-weight: 500;
          font-size: 25px;
          color: #0099DC; }
        .beneficios .beneficios-content .cards-beneficios .card-beneficio p {
          font-size: 14px;
          color: #939191;
          text-align: center; }

.planos {
  background: linear-gradient(85.03deg, #183FA3 -4.4%, #60D4FF 100%);
  padding: 140px 0; }
  .planos .planos-content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px; }
    .planos .planos-content h2 {
      font-weight: 600;
      font-size: 40px;
      color: white;
      margin-bottom: 15px; }
    .planos .planos-content p {
      font-weight: 500;
      font-size: 20px;
      line-height: 112%;
      color: white; }
    .planos .planos-content .planos-itens-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 80px; }
      .planos .planos-content .planos-itens-container .planos-item {
        background: #FFFFFF;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
        border-radius: 16px;
        padding: 50px;
        text-align: center;
        margin-bottom: 20px; }
        .planos .planos-content .planos-itens-container .planos-item p {
          font-size: 14px;
          color: #939191;
          text-align: center;
          margin-bottom: 10px; }
        .planos .planos-content .planos-itens-container .planos-item svg {
          margin: 10px 0; }
        .planos .planos-content .planos-itens-container .planos-item h1 {
          font-size: 50px;
          font-weight: 900;
          color: #0099DC;
          margin: 20px 0 40px 0; }
          .planos .planos-content .planos-itens-container .planos-item h1 span {
            font-weight: 400; }
        .planos .planos-content .planos-itens-container .planos-item button {
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          border-radius: 5px;
          background-color: #e88100;
          padding: 10px 40px;
          max-width: 216px;
          cursor: pointer;
          padding: 10px;
          width: 100%; }

.client-area .client-area-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: center; }
  .client-area .client-area-container .client-area-text h2 {
    font-weight: 600;
    font-size: 40px;
    color: white;
    color: #0099DC;
    margin-bottom: 20px; }
  .client-area .client-area-container .client-area-text p {
    font-weight: 500;
    font-size: 20px;
    line-height: 112%;
    color: #939191;
    margin-bottom: 50px; }
  .client-area .client-area-container .client-area-text span {
    font-size: 14px;
    color: #939191;
    text-align: center;
    font-size: 16px; }
  .client-area .client-area-container .client-area-text .client-area-botoes {
    display: flex; }
    .client-area .client-area-container .client-area-text .client-area-botoes .button-off {
      border: 1px solid white;
      text-align: center;
      background: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      border: 1px solid #0099DC;
      color: #0099DC;
      padding: 10px 40px; }
    .client-area .client-area-container .client-area-text .client-area-botoes .button-orange {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 5px;
      background-color: #e88100;
      padding: 10px 40px;
      max-width: 216px;
      cursor: pointer;
      padding: 10px 40px; }

.netflix {
  background-image: url(/images/netflix.png); }

.form-ligacao {
  background: #FDFDFD;
  width: 900px;
  margin: 0 auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px; }
  .form-ligacao h3 {
    font-weight: bold;
    font-size: 20px;
    color: #0099DC;
    display: flex; }
    .form-ligacao h3 svg {
      padding-right: 10px; }
  .form-ligacao form .input-form-ligacao {
    background: #F0F0F0;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 12px;
    color: #C4C3C3;
    margin: 0 5px; }
  .form-ligacao form button {
    background: #0099DC;
    border-radius: 7px;
    color: white;
    padding: 10px 80px;
    border: none;
    font-weight: 600;
    cursor: pointer; }

.beneficios-text {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 40px;
  padding: 0 10px; }
  .beneficios-text .beneficios-text-itens {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; }
    .beneficios-text .beneficios-text-itens .beneficios-item {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 380px;
      padding: 15px 0; }
      .beneficios-text .beneficios-text-itens .beneficios-item p {
        font-weight: 500;
        font-size: 20px;
        line-height: 112%;
        color: #939191; }
      .beneficios-text .beneficios-text-itens .beneficios-item svg {
        width: 90px; }

.button-orange {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-color: #e88100;
  padding: 10px 40px;
  max-width: 216px;
  cursor: pointer; }

.button-blue {
  background: #0099DC;
  border-radius: 7px;
  color: white;
  padding: 10px 80px;
  border: none;
  font-weight: 600;
  cursor: pointer; }

.button-off {
  border: 1px solid white;
  text-align: center;
  background: none;
  border-radius: 5px;
  color: white;
  cursor: pointer; }

body,
button {
  font-family: 'Poppins', sans-serif; }

/*# sourceMappingURL=style.css.map */
